html, body{
  padding:0;
  margin:0;
  height:100%;
  background-color: #F6F3F0;
}
  
body {
  width:1600px;
}
  
#wrapper {
  margin:auto;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  grid-column-gap: 24px;
}
  
@font-face {
  font-family: MagicRetro;
  src: url(https://dl.dropbox.com/s/rpr8j3ff8bkm3wb/MagicRetro.ttf?);
}
  
@font-face{
  font-family: PoppinsSemiBoldItalic;
  src:url(https://dl.dropbox.com/s/xi5jct8ogk71e0d/Poppins-SemiBoldItalic.ttf?)
}

header {
  grid-column: span 3;
  font-family: MagicRetro;
  font-size:115px;
  line-height:135px;
  color:#84AF4D;
  padding-bottom:25px;
  padding-left:30px;
  grid-template-columns: repeat(3, 1fr);
  display:grid;
  column-gap: 30px;
  position:relative;
  top:20px;
  padding-right:0;
  width:500px;
}

header i{
  grid-column:span 1;
  font-size:90px;
}

i.bi.bi-house{
  color:#84AF4D;
  position:relative;
  bottom:25px;
  font-size:80px;
}

header a{
  height:0;
}

header a:hover{
  filter:invert(1);
  height:90px;
}

a i.bi.bi-arrow-right{
 color:#84AF4D;
  position:relative;
  bottom:20px;
}

.wobble {
  grid-column:span 1;
}

main {
  grid-column: span 1;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 420px 420px;
  grid-template-rows: auto 100px;
  position:relative;
  left:140px;
  top:20px;
  width:840px;
  margin-bottom:20px;
}

main img {
  cursor:pointer;
}

.puzzle {
  height:600px;
}

.choc {
  width:400px;
}

.fancy {
  width:400px;
}

main p {
  padding-left:20px;
  font-size:30px;
  margin-top:15px;
  color:#648e2d;
}

.orig{
  grid-column-start: 1;
}

.edit{
  grid-column-start: 2;
}


p, h1, h2, figcaption, button{
  font-family: PoppinsSemiBoldItalic;
  
}

h2 {
  border-bottom: 3px solid #3BA987;
  padding-bottom:5px;
}

aside {
  grid-column-start: 9;
  grid-row-start: 1;
  height:0px;
}

aside img.film {
  width:400px;
  transform: rotate(130deg);
  position:relative;
  top:-130px;
  left:130px;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
}